.breadcrumbs {
	display: flex;
	align-items: center;

	li {
		font-size: 12px;
		display: inline-flex;
		align-items: center;
		color: $text;
		line-height: 1.25;

		&:not(:last-child) {
			@media(any-hover:hover) {
				&:hover {
					text-decoration: underline;
				}
			}

			&::after {
				display: inline-block;
				content: url('data:image/svg+xml;charset=UTF-8,<svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.75 3.93301L1.75 5.66506C1.41667 5.85751 1 5.61695 1 5.23205L1 1.76795C1 1.38305 1.41667 1.14249 1.75 1.33494L4.75 3.06699C5.08333 3.25944 5.08333 3.74056 4.75 3.93301Z" stroke="%235E6D55"/></svg>');
				line-height: 0;
				margin: 0 5px;
			}
		}

		&:last-child {
			color: $accentColor;
		}
	}
}