* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	// outline: none;
}

a:focus,
a:active {
	// outline: none;
}

html,
body {
	scroll-behavior: smooth;
	height: 100%;
	min-width: $minWidth + px;
}

body {
	color: $mainColor;
	line-height: 1;
	font-family: $fontFamily;
	font-size: $fontSize;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F7FAF7;
}

svg {
	width: 20px;
	height: 20px;
}

input,
textarea {
	width: 100%;
}

input,
button,
textarea {
	outline: none;
	box-shadow: none;
	font-family: $fontFamily;
	font-size: inherit;
	line-height: inherit;
	background-color: transparent;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: transparent;
}

a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
}

ul li {
	list-style: none;
}

svg,
picture,
img {
	max-width: 100%;
	vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}